body{
    background-color: black;
}

header{
    display: flex;
    padding: 20px var(--horizontal--padding);
    justify-content: space-between;
    border-bottom: 1px solid var(--lightgray);
}
.header__left, .header__center, .header__right{
    flex-grow: 1;
}
.header__left__bottom, .header__right__bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
header a, header i, header h1{
    color:white;
}
.header__left__top {
    display: flex;
    justify-content: flex-start;
}
.header__left__top a{
    padding-right: 17px;
}
.header__right__top{
    display: flex;
    justify-content: flex-end;
}
.header__right__top a{
    padding-left: 17px;
}
.header__left__top, .header__right__top{
    font-size: 11px;
    opacity: 0.6;
    margin-bottom: 10px;
}

.header__center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
}

.header__left__bottom__left a:last-child, .header__right__bottom__right a:last-child{
    padding-left: 10px;
}
.header__left__bottom__right, .header__right__bottom__left{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}
.header__left__bottom__right{
    padding-left: 35px;
}
.header__right__bottom__left{
    padding-right: 35px;
}
i{
    font-size: 20px;
}